.main {
    height: 300px;
    width: 300px;
    background-color: black;
}

.segment {
    height: 3px;
    width: 3px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
}